<div class="container-fluid mt-5">
  <h1 class="display-3 mt-10">Search for company</h1>
  <form class="bg-dark rounded p-3 ">
    <div class="form-group">
      <label for="formGroupExampleInput" class="lead font-weight-regular text-white">Company</label>
      <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Company name">
      <button type="submit" class="mt-2 btn btn-info">Submit</button>
    </div>
  </form>
</div>